body{
    background-image: url(https://images8.alphacoders.com/860/860215.jpg);
}

  
  .playlist-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .song-id {
    width: 10%;
  }
  
  .list-item {
    cursor: pointer;
    border: 1px solid green;
  }
  
  .selected {
    background-color: green;
  }
  
  
  .footer-btns {
    padding-block: 0.5rem;
  }

  .footer {
    color: green;
    text-shadow: 0 0 2em rgb(0, 172, 0), 0 0 1em green,
  }